[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]build/
[Bb]uilds/
Assets/AssetStoreTools*

.vs/

.consulo
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.tmp
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

*.pidb.meta

sysinfo.txt

*.apk
*.unitypackage